

 div.z { 
	 width: 100%;
	 height: 100%;
	 min-width: 700px;
	 min-height: 1000px; 
	 }
	 div.a {
	 padding-left: 25px;
	 padding-right: 25px;
	 }

.dropbtn {

  background-color: transparent;

  color: darkblue;

padding-top: 15px;

  font-size: 50px;

  border: none;
  
  outline: none;

  cursor: pointer;
  
  
  
}



.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {

  position: relative;

  display: inline-block;

}

.dropdown-content {

  display: none;

  position: relative;

  background-color: #f9f9f9;
  
  overflow: auto;
  
  font-size: 45px;

  min-width: 700px;
  
  min-height: 180px;
  
  padding-top: 50px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 1;

}

.dropdown-content a {

  color: black;

  padding: 10px;


  text-decoration: none;

  display: list;

}

.dropdown-content a:hover {background-color: transparent}

.dropdown:hover .dropdown-content {

  display: block;

}

.dropdown:hover .dropbtn {

  color: red;

}



marquee {
	font-size: 50px;
	animation: lcv 2s ease-out  infinite;
}

@keyframes lcv{
0% {
 color: red;
}

15% {
color: blue;
}

30% {
color: green;
}

75% {
color: red;
}

90% {
color: black;
}

100% {
color: blue;}

}


x {
	font-size: 63px;
	animation: lc .5s ease-out  infinite;
}

@keyframes lc{


0% {
 color: red;
}

25% {
color: blue;
}

50% {
color: green;
}

75% {
color: black;
}

100% {
color: blue;}

}

.sas {
	background: LemonChiffon;
}

img {
	border-radius: 20%;
   width: 500px;
}

button {
	background: transparent;
	border: none;
	outline: none;
}


.xz {
	width: 200px;
	margin-bottom: 100px;
}