	 div.a { 
	 padding-left: 100px;
	 padding-right: 50px;
	 }
	 
div.b { 
	padding-left: 220px;
	 padding-right: 50px;
	 }
	
div.c { 
	padding-left: 400px;
	 padding-right: 50px;
	 }
	 
div.d { 
	padding-left: 320px;
	 padding-right: 50px;
	 }
