  body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#navbar {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  height: 100px;
  	width: 200%;

}

#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 20px 40px;
  padding: 10px;
  text-decoration: none;
   font-size: 35px;
}

#navbar a:hover {
  background-color: #fff;
  color: black;
  border-radius: 20px;
  font-size: 40px;
  transition: all 400ms;
}


.cc { margin-right:50px;}