h1 {
	text-align: center;
	font-weight: bold;
	font-size: 55px;
	color: darkblue;
	margin: 100px 0;
}

.a {
  text-align: justify;
  margin: 0 25px;
  color: red;
}


ff {
	padding: 400px;
}

a {
	text-decoration: none;
}


	   body {
  margin: 0;
	background: LemonChiffon;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#navbar {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  height: 110px;
  width:100%;
}

#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 15px 50px;
  text-decoration: none;
   font-size: 40px;

}

#navbar a:hover {
  background-color: #fff;
  color: black;
  border-radius: 20px;
  font-size: 54px;
  transition: all 400ms;
}


.cc { margin-right:50px;}
	
	
img {
	display: block;
	margin: auto auto;
}