* {

	min-width: 900px;}

h3 {

	list-style-type: decimal;

	display: flex;

	flex-flow: column wrap;

	width: 130%;

	font-size: 45px;

	margin-top: 175px;

	margin-left: 12%

}

h1 {

	text-align: center;

	font-size: 100px;

	margin-top: 100px;

}

a {

	text-decoration: none;

}

body {

	background-image: url('bbbbbn'); 

	background-repeat: no-repeat;

	background-attachment: fixed; 

	background-size: 100% 100%;

}
