* {
	margin: 0;
	padding: 0;
}

#navbar {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  height: 150px;
  width:145%;
}

#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 15px 50px;
  text-decoration: none;
   font-size: 60px;

}

#navbar a:hover {
  background-color: #fff;
  color: black;
  border-radius: 20px;
  font-size: 80px;
  padding: 10px;
  transition: all 400ms;
}


.cc { margin-right:75px;}

i {
	margin-left: 50px;
	padding-right: 50px;
}
	

h3 {

	list-style-type: decimal-leading-zero;

	display: flex;

	flex-flow: column wrap;

	width: 130%;

	font-size: 45px;

	margin-top: 175px;

	margin-left: 12%

}

h1 {

	text-align: center;

	font-size: 100px;

	margin-top: 100px;

}

a {

	text-decoration: none;
	padding: 25px;

}

li {
	margin: 25px 0;
}



 