
body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#navbar {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  height: 130px;
  width: auto;
}

#navbar a {
  display: inline-block;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  margin-left: 60px;
  text-decoration: none;
   font-size: 50px;

}

#navbar a:hover {
  background-color: #fff;
  color: black;
  font-size: 60px;
  transition: all 400ms;
  border-radius: 20px;
}


.cc { margin-right:50px;}